<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>小作业</title>
    <script src="echarts.js"></script>
</head>

<body>
    <div id="main" style="width :800px;height: 1000px;"></div>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById("main"));
        window.addEventListener('resize', function () {
            myChart.resize();
        });
        // authorSearch
        function getData_authorSearch(dic) {
            let lst = []
            for (var key in dic) {
                let flag = true
                for (var k = 0; k < lst.length; k++) {
                    if (dic[key]["year"] == lst[k]) {
                        flag = false
                        break
                    }
                }
                if (flag == true) {
                    lst.push(dic[key]["year"])
                }
            }
            for (var j = 0; j < lst.length - 1; j++) {
                if (lst[j] > lst[j + 1]) {
                    var tmp = lst[j + 1]
                    lst[j + 1] = lst[j]
                    lst[j] = tmp
                }
            }
            return lst
        }
        function changeToBar_authorSearch(dic) {
            let n = 0
            let lst = [[]]
            for (var key in dic) {
                lst.push([])
            }
            lst[0][0] = "product"
            lst[0][1] = "vloume"
            let i = 1
            let temp = {}
            for (var key in dic) {
                if (dic[key]["year"] in temp) {
                    temp[dic[key]["year"]] += 1
                }
                else {
                    temp[dic[key]["year"]] = 1
                }
            }
            store = []
            for (var key in dic) {
                let flag = true
                for (var k = 0; k < lst.length; k++) {
                    if (dic[key]["year"] == store[k]) {
                        flag = false
                        break
                    }
                }
                if (flag == true) {
                    lst[i][0] = dic[key]["year"]
                    lst[i][1] = temp[dic[key]["year"]]
                    store.push(dic[key]["year"])
                    i = i + 1
                }
            }
            for (var m = 1; m < lst.length - 1; m++) {
                for (var j = 1; j < lst.length - 1; j++) {
                    if (lst[j][0] > lst[j + 1][0]) {
                        var tmp = lst[j + 1]
                        lst[j + 1] = lst[j]
                        lst[j] = tmp
                    }
                }
            }
            return lst
        }
        function getydata(dic) {
            lst = changeToBar_authorSearch(dic)
            lst_result = []
            for (var m = 1; m < lst.length; m++) {
                lst_result.push(lst[m][1])
            }
            return lst_result
        }
        function Bar_authorSearch(dic) {
            lst_xdata = getData_authorSearch(dic)
            lst_ydata = getydata(dic)
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                toolbox: {
                    feature: {
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                legend: {
                    data: ["year"]
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [100, 1981],
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: 'number',
                        min: 0,
                        max: 5,
                        interval: 1,
                        axisLabel: {
                            formatter: '{value}篇'
                        }
                    }
                ],
                series: [
                    {
                        name: 'number',
                        type: 'bar',
                        tooltip: {
                            valueFormatter: function (value) {
                                return value + '篇';
                            }
                        },
                        data: lst_ydata
                    }
                ]
            }
            return option
        }
        option_1 = Bar_authorSearch(diction)
        ///
        option = {
            // {
            //     type: 'pie',
            //     radius: ['40%', '50%'],
            //     center: ['50%', 360],
            //     avoidLabelOverlap: false,
            //     label: {
            //         data:[1,2],
            //         show: false,
            //         position: 'center'
            //     },
            //     labelLine: {
            //         show: false
            //     },
            //     emphasis: {
            //         label: {
            //             show: true,
            //             fontSize: '30',
            //             fontWeight: 'bold'
            //         }
            //     },
            //     data: [
            //         { value: 18210, name: '吉利 中国' },
            //         { value: 17218, name: '大众 德国' },
            //         { value: 14841, name: '日产 日本' },
            //         { value: 13625, name: '奇瑞 中国' },
            //         { value: 12035, name: '丰田 日本' },
            //         { value: 11311, name: '长安 中国' },
            //         { value: 11295, name: '奔驰 德国' },
            //         { value: 8105, name: '奥迪 德国' },
            //         { value: 8039, name: '宝马 德国' },
            //         { value: 7459, name: '本田 日本' },
            //     ],
            // },
            // {
            //     type: 'pie',
            //     radius: ['60%', '70%'],
            //     center: ['50%', 360],

            //     data: [
            //         { value: 0.0847, name: '吉利 中国' },
            //         { value: 0.0801, name: '大众 德国' },
            //         { value: 0.0690, name: '日产 日本' },
            //         { value: 0.0634, name: '奇瑞 中国' },
            //         { value: 0.0560, name: '丰田 日本' },
            //         { value: 0.0526, name: '长安 中国' },
            //         { value: 0.0525, name: '奔驰 德国' },
            //         { value: 0.0377, name: '奥迪 德国' },
            //         { value: 0.0374, name: '宝马 德国' },
            //         { value: 0.0347, name: '本田 日本' },
            //     ],
            // }
        };
        myChart.setOption(option_1);
    </script>
</body>



</html>


<!-- option={
    legend: {},
    tooltip: {},
    dataset: {
        source:lst
    },
    xAxis: [
        { type: 'category', gridIndex: 0 }
    ],
    yAxis: [{ gridIndex: 0 }],
    grid: [{ top: 700, bottom:100 }],
    series: [
        {
            type: 'bar',
            encode: {
                x: "product",
                y: "volume",
                // tooltip: ['percent', 'country']
            },
            itemStyle: {
                barBorderRadius: 5,
                borderWidth: 1,
                borderType: 'solid',
                borderColor: '#73c0de',
                shadowColor: '#5470c6',
                shadowBlur: 3
            },
            showBackground: true,
            backgroundStyle: {
                color: 'rgba(220, 220, 220, 0.8)'
            }
        },
    ]
    }
    return option -->